<p id="notice"><%= notice %></p>

<h1>Daily Usages</h1>

<table>
  <thead>
    <tr>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @daily_usages.each do |daily_usage| %>
      <tr>
        <td><%= daily_usage.price %></td>
        <td><%= link_to 'Show', daily_usage %></td>
        <td><%= link_to 'Edit', edit_daily_usage_path(daily_usage) %></td>
        <td><%= link_to 'Destroy', daily_usage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Daily Usage', new_daily_usage_path %>
