
<%= form_with(model: setting, local: true) do |form| %>
  <% if setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :auto_complete %>
    <%= form.check_box :auto_complete, id: :setting_auto_complete %>
  </div>

  <div class="field">
    <%= form.label :validate_address %>
    <%= form.check_box :validate_address, id: :setting_validate_address %>
  </div>

  <div class="field">
    <%= form.label :pobox_warning %>
    <%= form.check_box :pobox_warning, id: :setting_pobox_warning %>
  </div>

  <div class="field">
    <%= form.label :streetnum_warning %>
    <%= form.check_box :streetnum_warning, id: :setting_streetnum_warning %>
  </div>

  <div class="field">
    <%= form.label :color_background %>
    <%= form.text_field :color_background, id: :setting_color_background, class: "jscolor {onFineChange:'update(this, 1)'}" %>
  </div>

  <div class="field">
    <%= form.label :color_border %>
    <%= form.text_field :color_border, id: :setting_color_border, class: "jscolor {onFineChange:'update(this, 1)'}" %>
  </div>

  <div class="field">
    <%= form.label :color_text %>
    <%= form.text_field :color_text, id: :setting_color_text, class: "jscolor {onFineChange:'update(this, 1)'}" %>
  </div>

  <div class="field">
    <%= form.label :color_highlight %>
    <%= form.text_field :color_highlight, id: :setting_color_highlight, class: "jscolor {onFineChange:'update(this, 1)'}" %>
  </div>

  <div class="field">
    <%= form.label :color_hover %>
    <%= form.text_field :color_hover, id: :setting_color_hover, class: "jscolor {onFineChange:'update(this, 1)'}" %>
  </div>

  <p id="rect1" style="border:1px solid gray; width:161px; height:100px;">
  <script>
    function update(jscolor, id) {
        // 'jscolor' instance can be used as a string
        document.getElementById('rect' + id).style.backgroundColor = '#' + jscolor
    }
  </script>

  <div class="field">
    <%= form.label :text_apt_suite %>
    <%= form.text_field :text_apt_suite, id: :setting_text_apt_suite %>
  </div>

  <div class="field">
    <%= form.label :text_inaccurate %>
    <%= form.text_field :text_inaccurate, id: :setting_text_inaccurate %>
  </div>

  <div class="field">
    <%= form.label :text_select_confirm %>
    <%= form.text_field :text_select_confirm, id: :setting_text_select_confirm %>
  </div>

  <div class="field">
    <%= form.label :text_select_suggestion %>
    <%= form.text_field :text_select_suggestion, id: :setting_text_select_suggestion %>
  </div>

  <div class="field">
    <%= form.label :text_suggest1 %>
    <%= form.text_field :text_suggest1, id: :setting_text_suggest1 %>
  </div>

  <div class="field">
    <%= form.label :text_suggest2 %>
    <%= form.text_field :text_suggest2, id: :setting_text_suggest2 %>
  </div>

  <div class="field">
    <%= form.label :text_correct %>
    <%= form.text_field :text_correct, id: :setting_text_correct %>
  </div>

  <div class="actions">
    <%= form.submit '' %>
  </div>
<% end %>

<div id="preview">
 <div class="text-center">
    <h1>Preview of prompts</h1>
    <p class="boxName">Prompt displayed when a more accurate address is found</p>
    <div id="suggestedAddress" class="addressValidatorBox" style="background-color: rgb(245, 239, 239); border-color: rgb(182, 98, 98); color: rgb(160, 103, 103);">
       <b>Please select shipping address</b><small>To ensure prompt and accurate delivery, we suggest a modified shipping address.</small><br><br>
       <div id="suggestedAddress">
          <b><i>Suggested address:</i></b><br><span class="changed" style="color: rgb(144, 134, 115);">400 Howard St</span><br><span class="changed" style="color: rgb(144, 134, 115);">San Francisco</span><!-- react-text: 367 -->, <!-- /react-text --><span>CA</span><!-- react-text: 369 --> <!-- /react-text --><span>94105</span><span class="changed" style="color: rgb(144, 134, 115);">-2618</span>
       </div>
       <hr>
       <div id="originalAddress">
          <b><i>Original address:</i></b><br><span>400 howard</span><br><span>san francisco</span><!-- react-text: 380 -->, <!-- /react-text --><span>CA</span><!-- react-text: 382 --> <!-- /react-text --><span>94105</span>
       </div>
    </div>
    <p class="boxName">Prompt displayed when address is accurate</p>
    <div id="correctAddress" class="addressValidatorBox" style="background-color: rgb(245, 239, 239); border-color: rgb(182, 98, 98); color: rgb(160, 103, 103);"><b>Thanks for specifying an accurate shipping address!</b></div>
    <p class="boxName">Prompt displayed when address is inaccurate and a better address could not be found</p>
    <div id="inaccurateAddress" class="addressValidatorBox" style="background-color: rgb(245, 239, 239); border-color: rgb(182, 98, 98); color: rgb(160, 103, 103);"><b>Is the shipping address correct?</b></div>
    <p class="boxName">Prompt displayed when address is missing an apt/suite/unit #</p>
    <div id="textAptSuiteAddress" class="addressValidatorBox" style="background-color: rgb(245, 239, 239); border-color: rgb(182, 98, 98); color: rgb(160, 103, 103);"><b>Did you specify the correct apt/suite/unit?</b></div>
    <p class="boxName">Prompt displayed when customer selects suggested address</p>
    <div id="selectSuggestedAddress" class="addressValidatorBox" style="background-color: rgb(245, 239, 239); border-color: rgb(182, 98, 98); color: rgb(160, 103, 103);"><b>Your shipping address has been updated!</b></div>
    <p class="boxName">Prompt displayed when customer selects original address</p>
    <div id="selectOriginalAddress" class="addressValidatorBox" style="background-color: rgb(245, 239, 239); border-color: rgb(182, 98, 98); color: rgb(160, 103, 103);"><b>Thanks for confirming your shipping address!</b></div>
 </div>
</div>
