<%= form_with(model: setting, local: true) do |form| %>
  <% if setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row features-container">
    <div class="col-md-6">
      <h4>  
      <div class="form-group">    
        <%= form.check_box :auto_complete, id: :setting_auto_complete, class: 'custom_checkbox' %>
        <%= form.label :auto_complete, 'Validate Address', class: 'custom_label' %>
      </div>
      </h4>      
      <p>Enable this feature to validate shipping address during the second step of the checkout process rather than on the order status page.</p> <br>

      <h4>
      <div class="form-group">    
        <%= form.check_box :validate_address, id: :setting_validate_address, class: 'custom_checkbox' %>
        <%= form.label :validate_address, 'Google Auto Complete', class: 'custom_label' %>
      </div>
      </h4>
      <p>Enable this feature to display warning whenever customer specifies an address without a street number.</p>       
    </div>

    <div class="col-md-6">
      <h4>
      <div class="form-group">    
        <%= form.check_box :pobox_warning, id: :setting_pobox_warning, class: 'custom_checkbox' %>
        <%= form.label :pobox_warning, 'Street Number Warning', class: 'custom_label' %>
      </div>
      </h4>  
      <p>Enable this feature to offer address suggestions as the customer starts typing - this can help speed up the checkout process.</p> <br>

      <h4>
      <div class="form-group">    
        <%= form.check_box :streetnum_warning, id: :setting_streetnum_warning, class: 'custom_checkbox' %>
        <%= form.label :streetnum_warning, 'PO BOX Warning', class: 'custom_label' %>
      </div>
      </h4>
      <p>Enable this feature to display warning whenever customer specifies a PO Box address - UPS cannot deliver to PO Box addresses.</p>  
    </div>
  </div>

  <h3>CUSTOMIZE COLORS & MESSAGES</h3>  
  
  <div class="row">
    <div class="col-md-6">

      <div class="form-group">
        <%= form.label :text_correct, 'Correct address' %>
        <%= form.text_field :text_correct, id: :setting_text_correct, class: 'form-control' %>
      </div>

      <div class="form-inline form-group">
        <div class="form-group">
          <%= form.label :color_background, 'Backgroud:', class: 'control-label ' %>
          <%= form.text_field :color_background, id: :setting_color_background, class: "form-control jscolor {onFineChange:'update(this, 1)'}" %>
        </div>

        <div class="form-group margin-20px">
          <%= form.label :color_border, 'Border:', class: 'control-label' %>
          <%= form.text_field :color_border, id: :setting_color_border, class: "form-control jscolor {onFineChange:'update(this, 2)'}" %>
        </div>

        <div class="form-group margin-20px">
          <%= form.label :color_text, 'Text:', class: 'control-label' %>
          <%= form.text_field :color_text, id: :setting_color_text, class: "form-control jscolor {onFineChange:'update(this, 3)'}" %>
        </div>
      </div>
      <br>

      <div class="form-group">
        <%= form.label :text_inaccurate, 'Inaccurate address' %>
        <%= form.text_field :text_inaccurate, id: :setting_text_inaccurate, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :text_apt_suite, 'Inaccurate & missing apt/suite/unit' %>
        <%= form.text_field :text_apt_suite, id: :setting_text_apt_suite, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :text_pobox_warning, 'PO Box warning on address form' %>
        <%= form.text_field :text_pobox_warning, id: :setting_text_pobox_warning, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :text_streetnum_warning, 'Missing street # warning on address form' %>
        <%= form.text_field :text_streetnum_warning, id: :setting_text_streetnum_warning, class: 'form-control' %>
      </div>
            
      <div class="form-inline form-group">
        <div class="form-group">
          <%= form.label :color_background_warning, 'Backgroud:', class: 'control-label' %>
          <%= form.text_field :color_background_warning, id: :setting_color_background_warning, class: "form-control jscolor {onFineChange:'update(this, 6)'}" %>
        </div>

        <div class="form-group margin-20px">
          <%= form.label :color_border_warning, 'Border:', class: 'control-label' %>
          <%= form.text_field :color_border_warning, id: :setting_color_border_warning, class: "form-control jscolor {onFineChange:'update(this, 7)'}" %>
        </div>

        <div class="form-group margin-20px">
          <%= form.label :color_text_warning, 'Text:', class: 'control-label' %>
          <%= form.text_field :color_text_warning, id: :setting_color_text_warning, class: "form-control jscolor {onFineChange:'update(this, 8)'}" %>
        </div>
      </div>      
    </div>    

    <!-- preview -->
    <div class="col-md-6">
      <div id="preview">
          <div class="text-center">
              <h3>Preview of prompts</h3>

              <p class="boxName">Prompt displayed when address is accurate</p>
              <div id="correctAddress" class="validatorBox">Thanks for specifying an accurate shipping address</div> <br/>

              <p class="boxName">Prompt displayed when address is inaccurate and a better address could not be found</p>
              <div id="inaccurateAddress" class="validatorBox">Is the shipping address correct?</div> <br/>

              <p class="boxName">Prompt displayed when address is missing an apt/suite/unit #</p>
              <div id="aptSuiteAddress" class="validatorBox">Did you specify the correct apt/suite/unit?</div>  <br/>       

              <p class="boxName">Prompt displayed when customer specifies a PO Box address</p>
              <div id="poboxWarning" class="validatorBox">We cannot deliver to a P.O. Box. Please provide a valid street address.</div> <br/>

              <p class="boxName">Prompt displayed when customer specifies an address without a street number</p>
              <div id="streetnumWarning" class="validatorBox">Please specify a street number.</div> <br/>
          </div>
      </div>
    </div>
  </div>
  
  <div class="actions">
    <%= form.submit 'Save & Apply', class: 'btn btn-primary' %>
  </div>

<% end %>

<script>
  //Customize colors
  function update(jscolor, id) {
    // 'jscolor' instance can be used as a string
    switch(id) {
      case 1:
        //$('.validatorBox').css('background-color', '#' + jscolor);
        $('#correctAddress').css('background-color', '#' + jscolor);
        break;

      case 2:
        //$('.validatorBox').css('border-color', '#' + jscolor);
        $('#correctAddress').css('border-color', '#' + jscolor);
        break;

      case 3:
        //$('.validatorBox').css('color', '#' + jscolor);
        $('#correctAddress').css('color', '#' + jscolor);
        break;

      case 4:
        $('span.changed').css('color', '#' + jscolor);
        break;

      case 5:
        //$('#suggestedAddress:hover').css('background-color', '#' + jscolor);
        break;

      case 6:
        $('#poboxWarning').css('background-color', '#' + jscolor);
        $('#streetnumWarning').css('background-color', '#' + jscolor);
        $('#inaccurateAddress').css('background-color', '#' + jscolor);
        $('#aptSuiteAddress').css('background-color', '#' + jscolor);
        break;

      case 7:
        $('#poboxWarning').css('border-color', '#' + jscolor);
        $('#streetnumWarning').css('border-color', '#' + jscolor);
        $('#inaccurateAddress').css('border-color', '#' + jscolor);
        $('#aptSuiteAddress').css('border-color', '#' + jscolor);
        break;

      case 8:
        $('#poboxWarning').css('color', '#' + jscolor);
        $('#streetnumWarning').css('color', '#' + jscolor);
        $('#inaccurateAddress').css('color', '#' + jscolor);
        $('#aptSuiteAddress').css('color', '#' + jscolor);
        break;

      default:
    }
  }

  //Loads settings
  $(function() {
    $('.validatorBox').css('background-color', '#' + $('#setting_color_background').val());
    $('.validatorBox').css('border-color', '#' + $('#setting_color_border').val());
    $('.validatorBox').css('color', '#' + $('#setting_color_text').val());
    $('span.changed').css('color', '#' + $('#setting_color_highlight').val());

    $('#suggestedAddress').hover(function(){
      $(this).css('background-color', '#' + $('#setting_color_hover').val());
      }, function(){
      $(this).css('background-color', '#' + $('#setting_color_background').val());
    });

    $('#originalAddress').hover(function(){
      $(this).css('background-color', '#' + $('#setting_color_hover').val());
      }, function(){
      $(this).css('background-color', '#' + $('#setting_color_background').val());
    });

    //Customzie warning colors 
    $('#poboxWarning').css('background-color', '#' + $('#setting_color_background_warning').val());
    $('#poboxWarning').css('border-color', '#' + $('#setting_color_border_warning').val());
    $('#poboxWarning').css('color', '#' + $('#setting_color_text_warning').val());
    $('#streetnumWarning').css('background-color', '#' + $('#setting_color_background_warning').val());
    $('#streetnumWarning').css('border-color', '#' + $('#setting_color_border_warning').val());
    $('#streetnumWarning').css('color', '#' + $('#setting_color_text_warning').val());
    $('#inaccurateAddress').css('background-color', '#' + $('#setting_color_background_warning').val());
    $('#inaccurateAddress').css('border-color', '#' + $('#setting_color_border_warning').val());
    $('#inaccurateAddress').css('color', '#' + $('#setting_color_text_warning').val());
    $('#aptSuiteAddress').css('background-color', '#' + $('#setting_color_background_warning').val());
    $('#aptSuiteAddress').css('border-color', '#' + $('#setting_color_border_warning').val());
    $('#aptSuiteAddress').css('color', '#' + $('#setting_color_text_warning').val());
  });

  // Customize texts
  $('#setting_text_suggest1').on('keyup',function(){
    $('#suggested_part1').text($(this).val())
  });

  $('#setting_text_suggest2').on('keyup',function(){
    $('#suggested_part2').text($(this).val())
  });

  $('#setting_text_correct').on('keyup',function(){
    $('#correctAddress').text($(this).val())
  });

  $('#setting_text_inaccurate').on('keyup',function(){
    $('#inaccurateAddress').text($(this).val())
  });

  $('#setting_text_apt_suite').on('keyup',function(){
    $('#aptSuiteAddress').text($(this).val())
  });

  $('#setting_text_select_suggestion').on('keyup',function(){
    $('#selectSuggestedAddress').text($(this).val())
  });

  $('#setting_text_select_confirm').on('keyup',function(){
    $('#selectOriginalAddress').text($(this).val())
  });

  $('#setting_text_pobox_warning').on('keyup',function(){
    $('#poboxWarning').text($(this).val())
  });

  $('#setting_text_streetnum_warning').on('keyup',function(){
    $('#streetnumwarning').text($(this).val())
  });
</script>
