<%= form_with(model: setting, local: true, class: 'form-horizontal') do |form| %>
  <% if setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Features</h3>
  <div class="form-group">    
    <%= form.check_box :auto_complete, id: :setting_auto_complete %>
    <%= form.label :auto_complete %>
  </div>

  <div class="form-group ">    
    <%= form.check_box :validate_address, id: :setting_validate_address %>
    <%= form.label :validate_address %>
  </div>

  <div class="form-group">    
    <%= form.check_box :pobox_warning, id: :setting_pobox_warning %>
    <%= form.label :pobox_warning %>
  </div>

  <div class="form-group">    
    <%= form.check_box :streetnum_warning, id: :setting_streetnum_warning %>
    <%= form.label :streetnum_warning %>
  </div>

<% if false %>
  <div class="form-group">
    <%= form.label :color_highlight, 'Highlight' %>
    <%= form.text_field :color_highlight, id: :setting_color_highlight, class: "jscolor {onFineChange:'update(this, 4)'}" %>
  </div>

  <div class="form-group">
    <%= form.label :color_hover, 'Hover' %>
    <%= form.text_field :color_hover, id: :setting_color_hover, class: "jscolor {onFineChange:'update(this, 5)'}" %>
  </div>
<% end %>

  <h3>Customize Thanks</h3>  
  
  <div class="form-group">
    <%= form.label :color_background, 'Backgroud', class: 'control-label col-md-2' %>
    <div class="col-md-2">
      <%= form.text_field :color_background, id: :setting_color_background, class: "form-control jscolor {onFineChange:'update(this, 1)'}" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :color_border, 'Border', class: 'control-label col-md-2' %>
    <div class="col-md-2">
      <%= form.text_field :color_border, id: :setting_color_border, class: "form-control jscolor {onFineChange:'update(this, 2)'}" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :color_text, 'Text', class: 'control-label col-md-2' %>
    <div class="col-md-2">
      <%= form.text_field :color_text, id: :setting_color_text, class: "form-control jscolor {onFineChange:'update(this, 3)'}" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :text_correct, 'Correct address' %>
    <%= form.text_field :text_correct, id: :setting_text_correct, class: 'form-control' %>
  </div>

  <h3>Customize Warnings</h3>  

  <div class="form-group">
    <%= form.label :color_background_warning, 'Backgroud', class: 'control-label col-md-2' %>
    <div class="col-md-2">
      <%= form.text_field :color_background_warning, id: :setting_color_background_warning, class: "form-control jscolor {onFineChange:'update(this, 6)'}" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :color_border_warning, 'Border', class: 'control-label col-md-2' %>
    <div class="col-md-2">
      <%= form.text_field :color_border_warning, id: :setting_color_border_warning, class: "form-control jscolor {onFineChange:'update(this, 7)'}" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :color_text_warning, 'Text', class: 'control-label col-md-2' %>
    <div class="col-md-2">
      <%= form.text_field :color_text_warning, id: :setting_color_text_warning, class: "form-control jscolor {onFineChange:'update(this, 8)'}" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :text_inaccurate, 'Inaccurate address' %>
    <%= form.text_field :text_inaccurate, id: :setting_text_inaccurate, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :text_apt_suite, 'Inaccurate & missing apt/suite/unit' %>
    <%= form.text_field :text_apt_suite, id: :setting_text_apt_suite, class: 'form-control' %>
  </div>

<% if false %>  
  <div class="form-group">
    <%= form.label :text_select_suggestion, 'Suggested address selected' %>
    <%= form.text_field :text_select_suggestion, id: :setting_text_select_suggestion, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :text_select_confirm, 'Original address confirmed' %>
    <%= form.text_field :text_select_confirm, id: :setting_text_select_confirm, class: 'form-control' %>
  </div>
<% end %>

  <div class="form-group">
    <%= form.label :text_pobox_warning, 'PO Box warning on address form' %>
    <%= form.text_field :text_pobox_warning, id: :setting_text_pobox_warning, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :text_streetnum_warning, 'Missing street # warning on address form' %>
    <%= form.text_field :text_streetnum_warning, id: :setting_text_streetnum_warning, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Save & Apply' %>
  </div>

<% end %>
</div>

<script>
  //Customize colors
  function update(jscolor, id) {
    // 'jscolor' instance can be used as a string
    switch(id) {
      case 1:
        //$('.validatorBox').css('background-color', '#' + jscolor);
        $('#correctAddress').css('background-color', '#' + jscolor);
        break;

      case 2:
        //$('.validatorBox').css('border-color', '#' + jscolor);
        $('#correctAddress').css('border-color', '#' + jscolor);
        break;

      case 3:
        //$('.validatorBox').css('color', '#' + jscolor);
        $('#correctAddress').css('color', '#' + jscolor);
        break;

      case 4:
        $('span.changed').css('color', '#' + jscolor);
        break;

      case 5:
        //$('#suggestedAddress:hover').css('background-color', '#' + jscolor);
        break;

      case 6:
        $('#poboxWarning').css('background-color', '#' + jscolor);
        $('#streetnumWarning').css('background-color', '#' + jscolor);
        $('#inaccurateAddress').css('background-color', '#' + jscolor);
        $('#aptSuiteAddress').css('background-color', '#' + jscolor);
        break;

      case 7:
        $('#poboxWarning').css('border-color', '#' + jscolor);
        $('#streetnumWarning').css('border-color', '#' + jscolor);
        $('#inaccurateAddress').css('border-color', '#' + jscolor);
        $('#aptSuiteAddress').css('border-color', '#' + jscolor);
        break;

      case 8:
        $('#poboxWarning').css('color', '#' + jscolor);
        $('#streetnumWarning').css('color', '#' + jscolor);
        $('#inaccurateAddress').css('color', '#' + jscolor);
        $('#aptSuiteAddress').css('color', '#' + jscolor);
        break;

      default:
    }
  }

  //Loads settings
  $(function() {
    $('.validatorBox').css('background-color', '#' + $('#setting_color_background').val());
    $('.validatorBox').css('border-color', '#' + $('#setting_color_border').val());
    $('.validatorBox').css('color', '#' + $('#setting_color_text').val());
    $('span.changed').css('color', '#' + $('#setting_color_highlight').val());

    $('#suggestedAddress').hover(function(){
      $(this).css('background-color', '#' + $('#setting_color_hover').val());
      }, function(){
      $(this).css('background-color', '#' + $('#setting_color_background').val());
    });

    $('#originalAddress').hover(function(){
      $(this).css('background-color', '#' + $('#setting_color_hover').val());
      }, function(){
      $(this).css('background-color', '#' + $('#setting_color_background').val());
    });

    //Customzie warning colors 
    $('#poboxWarning').css('background-color', '#' + $('#setting_color_background_warning').val());
    $('#poboxWarning').css('border-color', '#' + $('#setting_color_border_warning').val());
    $('#poboxWarning').css('color', '#' + $('#setting_color_text_warning').val());
    $('#streetnumWarning').css('background-color', '#' + $('#setting_color_background_warning').val());
    $('#streetnumWarning').css('border-color', '#' + $('#setting_color_border_warning').val());
    $('#streetnumWarning').css('color', '#' + $('#setting_color_text_warning').val());
    $('#inaccurateAddress').css('background-color', '#' + $('#setting_color_background_warning').val());
    $('#inaccurateAddress').css('border-color', '#' + $('#setting_color_border_warning').val());
    $('#inaccurateAddress').css('color', '#' + $('#setting_color_text_warning').val());
    $('#aptSuiteAddress').css('background-color', '#' + $('#setting_color_background_warning').val());
    $('#aptSuiteAddress').css('border-color', '#' + $('#setting_color_border_warning').val());
    $('#aptSuiteAddress').css('color', '#' + $('#setting_color_text_warning').val());
  });

  // Customize texts
  $('#setting_text_suggest1').on('keyup',function(){
    $('#suggested_part1').text($(this).val())
  });

  $('#setting_text_suggest2').on('keyup',function(){
    $('#suggested_part2').text($(this).val())
  });

  $('#setting_text_correct').on('keyup',function(){
    $('#correctAddress').text($(this).val())
  });

  $('#setting_text_inaccurate').on('keyup',function(){
    $('#inaccurateAddress').text($(this).val())
  });

  $('#setting_text_apt_suite').on('keyup',function(){
    $('#aptSuiteAddress').text($(this).val())
  });

  $('#setting_text_select_suggestion').on('keyup',function(){
    $('#selectSuggestedAddress').text($(this).val())
  });

  $('#setting_text_select_confirm').on('keyup',function(){
    $('#selectOriginalAddress').text($(this).val())
  });

  $('#setting_text_pobox_warning').on('keyup',function(){
    $('#poboxWarning').text($(this).val())
  });

  $('#setting_text_streetnum_warning').on('keyup',function(){
    $('#streetnumwarning').text($(this).val())
  });
</script>
