<p id="notice"><%= notice %></p>

<p>
  <strong>Auto complete:</strong>
  <%= @setting.auto_complete %>
</p>

<p>
  <strong>Validate address:</strong>
  <%= @setting.validate_address %>
</p>

<p>
  <strong>Pobox warning:</strong>
  <%= @setting.pobox_warning %>
</p>

<p>
  <strong>Streetnum warning:</strong>
  <%= @setting.streetnum_warning %>
</p>

<p>
  <strong>Store domain:</strong>
  <%= @setting.store_domain %>
</p>

<p>
  <strong>Color background:</strong>
  <%= @setting.color_background %>
</p>

<p>
  <strong>Color border:</strong>
  <%= @setting.color_border %>
</p>

<p>
  <strong>Color text:</strong>
  <%= @setting.color_text %>
</p>

<p>
  <strong>Color highlight:</strong>
  <%= @setting.color_highlight %>
</p>

<p>
  <strong>Color hover:</strong>
  <%= @setting.color_hover %>
</p>

<p>
  <strong>Text apt suite:</strong>
  <%= @setting.text_apt_suite %>
</p>

<p>
  <strong>Text inaccurate:</strong>
  <%= @setting.text_inaccurate %>
</p>

<p>
  <strong>Text select confirm:</strong>
  <%= @setting.text_select_confirm %>
</p>

<p>
  <strong>Text select suggestion:</strong>
  <%= @setting.text_select_suggestion %>
</p>

<p>
  <strong>Text suggest1:</strong>
  <%= @setting.text_suggest1 %>
</p>

<p>
  <strong>Text suggest2:</strong>
  <%= @setting.text_suggest2 %>
</p>

<p>
  <strong>Text correct:</strong>
  <%= @setting.text_correct %>
</p>

<%= link_to 'Edit', edit_setting_path(@setting) %> |
<%= link_to 'Back', settings_path %>
